<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Edit Movie</title>
</head>

<body>
    <h1>Edit Movie</h1>
    <form method="POST" action="/movies/edit/<%= movie.id %>">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="<%= movie.title %>"><br><br>
        <label for="director">Director:</label>
        <input type="text" name="director" id="director" value="<%= movie.director %>"><br><br>
        <label for="year">Year:</label>
        <input type="number" name="year" id="year" value="<%= movie.year %>"><br><br>
        <label for="genre_1">Genre 1:</label>
        <input type="text" name="genre_1" id="genre_1" value="<%= movie.genre_1 %>"><br><br>
        <label for="genre_2">Genre 2:</label>
        <input type="text" name="genre_2" id="genre_2" value="<%= movie.genre_2 %>"><br><br>
        <input type="submit" value="Save Changes">
    </form>
</body>

</html>